### Notebook for Exploratory Data Analysis
Can merge with other notebooks in the future if desired.

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_pickle('../data/df_cleaned.pkl')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   administrative           12330 non-null  int32
 1   administrative_duration  12330 non-null  float64
 2   informational            12330 non-null  int32
 3   informational_duration   12330 non-null  float64
 4   productrelated           12330 non-null  int32
 5   productrelated_duration  12330 non-null  float64
 6   bouncerates              12330 non-null  float64
 7   exitrates                12330 non-null  float64
 8   pagevalues               12330 non-null  float64
 9   specialday               12330 non-null  float64
 10  month                    12330 non-null  category
 11  operatingsystems         12330 non-null  category
 12  browser                  12330 non-null  category
 13  region                   12330 non-null  category
 14  traffictype              12330 non-null  category
 15  visitortype              12330 non-null  category
 16  weekend                  12330 non-null  category
 17  revenue                  12330 non-null  category
dtypes: category(8), float64(7), int32(3)
memory usage: 915.8 KB

Data types are retained as desired, in numeric and categorical segments.

In [5]:
df.sample(5)

,administrative,administrative_duration,informational,informational_duration,productrelated,productrelated_duration,bouncerates,exitrates,pagevalues,specialday,month,operatingsystems,browser,region,traffictype,visitortype,weekend,revenue
10500,0,0.000,0,0.00,15,281.738095,0.00,0.001923,57.824738,0.0,Nov,2,4,1,2,New_Visitor,False,True
6012,4,65.600,0,0.00,25,575.816667,0.00,0.007143,0.000000,0.0,Nov,2,4,2,20,Returning_Visitor,True,False
2729,1,21.000,0,0.00,11,385.000000,0.00,0.020000,0.000000,0.6,May,2,2,3,2,Returning_Visitor,False,False
1169,0,0.000,0,0.00,1,0.000000,0.20,0.200000,0.000000,0.0,Mar,2,2,1,3,Returning_Visitor,False,False
12307,2,305.125,3,368.25,27,1121.250000,0.02,0.042857,39.519807,0.0,Dec,3,2,1,2,Returning_Visitor,False,False